<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <!-- Utpal - First variation directly talks to DB. Violates MVC
         Second variation takes care of 1 by delegating DB access to controller
         Third variation modularize the code by putting the logic into helper module
    <%= f.select :user_id, User.all.map{|user| [user.email, user.id]} %>
    <%= f.select :user_id, @user.map {|user| [user.email, user.id]} %>
    -->
    <%= f.select :user_id, get_users(@user) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
